{
    "presets": [
        [
            "blueflag",
            {
                "browser": true
            }
        ]
    ],
    "plugins": [
        ["babel-plugin-extract-flow-types", {"srcDir": "src", "outDir": "lib"}],
        "@babel/plugin-proposal-optional-chaining"
    ],
    "ignore": ["example/**", "**/*-test.js"]
}
